/* =========================
   GLOBAL STYLE - SAME THEME
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


body{
    background:#f1f5f9;
    color:#0f172a;
}

/* HERO SECTION */
.hero{
    padding:25px 25px;
    text-align:center;
}

.hero h1{
    font-size:44px;
    font-weight:600;
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
    color:#fff172db;
}

/* SECTION TITLE */
.section-title{
    text-align:center;
    font-size:28px;
    font-weight:600;
    margin-bottom:40px;
}

/* CARD DESIGN */
.card{
    background:#ffffff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
    transition:0.3s ease;
}

.card:hover{
    transform:translateY(-8px);
}

/* BUTTON UNIVERSAL */
.btn{
    padding:10px 22px;
    border-radius:25px;
    border:none;
    background:#6366f1;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:#4f46e5;
}

/* FOOTER */
footer{
    background:#1e293b;
    color:#cbd5e1;
    padding:40px 80px;
    text-align:center;
    margin-top:80px;
}
/* SECTION STRUCTURE */
.section{
    padding:80px 100px;
}

.light-bg{
    background:#f8fafc;
}

/* GRID SYSTEM */
.grid-3{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.grid-2{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

/* PRODUCT CARD */
.product-card h4{
    margin-bottom:10px;
}

/* CTA SECTION */
.cta{
    background:#334155;
    color:white;
    padding:80px 100px;
    text-align:center;
}

.cta h2{
    margin-bottom:15px;
}

/* NEWSLETTER */
.newsletter{
    padding:80px 100px;
    text-align:center;
}

.newsletter input{
    padding:10px 15px;
    width:250px;
    border-radius:25px;
    border:1px solid #cbd5e1;
    margin-right:10px;
}


/* ===============================
   GLOBAL ALERT MESSAGES
================================= */

.message-container {
    position: fixed;
    top: 90px; /* below header */
    right: 30px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.alert {
    min-width: 300px;
    padding: 14px 18px;
    border-radius: 12px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 35px rgba(88, 108, 198, 0.08);
    animation: slideIn 0.4s ease forwards;
    color: rgb(0, 0, 0);
    background-color: #728dd7;
}

/* Success */
.alert-success {
    background: linear-gradient(90deg,#16a34a,#15803d);
}

/* Error */
.alert-error {
    background: linear-gradient(90deg,#dc2626,#b91c1c);
}

/* Info */
.alert-info {
    background: linear-gradient(90deg,#2563eb,#1d4ed8);
}

/* Close button */
.close-btn {
    background: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
}

/* Animation */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}