{% extends "base.html" %}

{% block content %}

<div class="auth-container">
    <div class="auth-box">
        <h2>Create Account</h2>

        <!-- {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %} -->

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="Full Name" required>
            <input type="date" name="dob" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <input type="text" name="mobile" placeholder="Mobile Number" required>
            <textarea name="address" placeholder="Address" required></textarea>

            <button type="submit" class="auth-btn">Register</button>
        </form>

        <div class="auth-links">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
</div>

{% endblock %}
