{% extends "base.html" %}
{% block content %}

<div class="auth-container">
    <div class="auth-box">
        <h2>Reset Password</h2>

        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}
            <input type="password" name="password" placeholder="New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <button type="submit" class="auth-btn">Update Password</button>
        </form>
    </div>
</div>

{% endblock %}
